
<div class="table" id="table_id">
  <table>
    <tr>
      <th>手機</th>
      <th>售價</th>
      <th>備註</th>
    </tr>
    <tr>
      <td>{{Product.name}}</td>
      <td>{{Product.price}}</td>
      <td>{{Product.description}}</td>
    </tr>
  </table>
</div>

<div class="table" id="table_1">
  <table><tr>
    <th>ID</th>
    <th>Product</th>
    <th>Price</th>
    <th>Note</th>
  </tr></table>
</div>
<div *ngFor="let good of goods">
  <div class="table" id="table_it">
    <table>

      <tr>
        <td>{{good.id}}</td>
        <td>{{good.product}}</td>
        <td>{{good.price}}</td>
        <td>{{good.note}}</td>
      </tr>
    </table>
  </div>
</div>


