<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navigation</title>
</head>
<body>
<div>
<h1 class="title" id="logo-title">My Store</h1>
<nav class="navigation">

  <a routerLink="/product">Product</a>
  <a routerLink="/detail/1">Detail</a>
  <a routerLink="/parks">Parks</a>
  <a routerLink="/parkDetail/1">Parks Detail</a>
</nav>
</div>
</body>
</html>
<router-outlet></router-outlet>
